<h3>{{viewTitle}}</h3>
<div class="form-group " style="float: right;">
        <button><a class="btn" href="/tree/list">Show All Data</a></button>
</div>
<form action="/tree" method="POST">

    <input type="hidden" name="_id" value="{{tree._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{tree.name}}">
        <div class="text-danger">
            {{tree.nameError}}</div>
    </div>
    <div class="form-group">
        <label>Latitude</label>
        <input type="text" class="form-control" name="latitude" placeholder="39.865649" value="{{tree.latitude}}">
        <div class="text-danger">
            {{tree.latitudeError}}</div>
    </div>

    <div class="form-group">
        <label>Longitude</label>
        <input type="text" class="form-control" name="longitude" placeholder="32.733520" value="{{tree.longitude}}">
         <div class="text-danger">
            {{tree.longitudeError}}</div>
    </div>
    <div class="form-group">
        <label>Tree Height</label>
        <input type="text" class="form-control" name="height" placeholder="4.20" value="{{tree.height}}">
        <div class="text-danger">
            {{tree.heightError}}</div>
    </div>

    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
   
</form>